@keyframes circle {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
        transform: translateY(0); 
    }
}
.intro {
    width: 100%;
    height: 55vh;
    /* border-bottom: 1px solid black; */
    padding: 5rem 0;
}
.intro__left {
    animation: intro_opacity 1s;
}
.intro__right {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    animation: intro_opacity 1s;
}
.intro__wrap {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
}

.intro__texts {
    margin-top: 2rem;
    animation: intro 1s forwards;
}
.intro__text {
    color: #7a7a7a;
    /* font-weight: bold; */
}
.intro__text--big {
    font-size: 3rem;
    font-weight: bold;
}
.intro__text--bold {
    font-weight: bold;
    margin-bottom: .5rem;
}
.intro__text.title {
    font-weight: bold;
}
.circle__list {
    width: 20rem;
    position: relative;
    height: 20rem;
}
.circle__item {
    position: absolute;
    border-radius: 100%;
    animation: circle 3s infinite ease-in-out;
    cursor: pointer;
    filter: grayscale(1);
    /* transition: .2s ease-in-out; */
}
.circle__item:hover {
    filter: none;
}
.circle__item:nth-of-type(1) {
    width: 20rem;
    height: 20rem;
    left: 0;
    top: 0;
    transform: translate(0%, 0);
    z-index: 3;
    overflow: hidden;
}
.circle__item:nth-of-type(2) {
    width: 5rem;
    height: 5rem;
    left: -22%;
    top: 0rem;
    animation-delay: .5s;
    z-index: 1;
}
.circle__item:nth-of-type(3) {
    width: 5rem;
    height: 5rem;
    left: 110%;
    top: 14%;
    animation-delay: .25s;
    z-index: 2;
}
.circle__item:nth-of-type(4) {
    background-color: #89aefd;
    width: 10rem;
    height: 10rem;
    left: -35%;
    bottom: -30%;
    animation-delay: .25s;
    z-index: 4;
}
.circle__item:nth-of-type(5) {
    width: 7rem;
    height: 7rem;
    right: -30%;
    top: 80%;
    animation-delay: .5s;
    z-index: 5;
    background-color: #7d99e2;
}
.circle__item > img,
.circle__item > object {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    display: flex;
}

/* language */
.language {
    height: fit-content;
    padding: 5rem 0;
    grid-template-rows: repeat(3, 1fr 2fr);
}
.language__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: flex-start;
    gap: 1rem;
}
.language__title {
    /* transform: rotateZ(-90deg); */
    position: relative;
    transform-origin: right;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.language__item {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    align-items: center;
}
.language__image > i {
    font-size: 4rem;
}
.language__image > * {
    width: 30%;
    filter: grayscale(1);
    opacity: .5;
    transition: .2s;
}
.language__image > *:hover {
    filter: none;
    opacity: 1;
}
.language__image > .fa-js {
    color: #ffd600;
}
.language__image > .fa-php {
    color: rgb(79, 91, 147);
}
.language__name {
    font-size: .875rem;
}
.language__text {
    font-size: .75rem;
}
/* .about__image {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    place-content: center;
}
.about__circle {
    position: absolute;
    border: 1px solid #ABD5F5;
    width: 90%;
    padding-top: 90%;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: bubble 5s infinite ease-in-out;
}
.about__circle:nth-of-type(2) {
    animation: bubble 7s infinite ease-in-out;
    transform: translate(-50%, -50%) rotate(120deg);
}
.about__circle:nth-of-type(3) {
    animation: bubble 10s infinite ease-in-out;
    transform: translate(-50%, -50%) rotate(240deg);
}
.about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
.about__grid--top {
    animation: intro_opacity 1s;
}
.about__grid--icons {
    grid-template-columns: repeat(7, auto);
    justify-content: space-between;
    margin: 4rem 0;
    animation: intro_opacity 1s 1s forwards;
    opacity: 0;
}
.about__grid--between {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: flex-start;
}
.about__grid--between > div {
    opacity: 0;
    animation: intro 1s 2s forwards;
}
.about__grid--icons > i {
    font-size: 4rem;
}
.about__text {
    line-height: 2rem;
}
.about__text--big {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: .5rem;
}
.about__text--name {
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 4rem 1rem 0px #3333;
    place-self: center flex-start;
}
.about__text > i {
    margin-right: .5rem;
} */