@import url(http:////fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.max-width {
    max-width: 1200px;
    margin: 0 auto;
}
nav {
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 5;
}
.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.menu__list {
    display: flex;
    gap: 3rem;
}
.menu__item {
    font-size: 1rem;
    cursor: pointer;
    color: #999;
    transition: .2s;
}
.menu__item:hover {
    color: #333;
}
.content {
    width: 200%;
    height: 100%;
    display: grid;
    transition: .5s ease-in-out;
    transform: translate(0);
    grid-template-columns: 1fr 1fr;
}
.content.active {
    transform: translate(-50%);
}
.content__item {
    height: 100%;
}