@keyframes selected {
    0% { right: -2rem; }   
    100% { right: 0; }
}
.popup {
    opacity: 1;
    animation: fadeOut 2s forwards;
}
.popup > img {
    width: 70%;
}
.diary {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-image: url('../images/diary.png');
}
.diary--canvas {
    margin: 0 auto;
    position: absolute;
    left: 12.7%;
    top: 15.5%;
    touch-action: none;
}
.buttons__wrap {
    width: 9%;
    height: max-content;
    position: absolute;
    bottom: 7rem;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.buttons__wrap:nth-child(3) {
    top: .75rem;
    right: .75rem;
}
.buttons__wrap:nth-child(3) > img {
    width: 4rem;
    margin-top: .25rem;
}
.buttons {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin-right: 0;
}
.buttons > img {
    margin-top: .75rem;
    position: relative;
    right: -2rem;
    transition: 1s;
}
.buttons.color {
    width: 100%;
}
.buttons.color > img {
    height: 3rem;
}
.selected {
    animation: 1s selected forwards;
}
.buttons.size {
    width: 100%;
    margin-top: 1rem;
}
.buttons.size > img {
    height: 1.5rem;
}