@keyframes intro {
    from {
        opacity: 0;
        transform: translate(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bg {
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: 105%;
    position: relative;
}
.bg__wrap {
    position: relative;
    left: 0;
    top: 30%;
    z-index: 2;
    display: grid;
    gap: 1rem;
    animation: intro 1s ease-out;
}
.bg__text {
    color: #fff;
}
.bg__text--bold {
    font-weight: bold;
    font-size: 4rem;
}
.bg__text--big {
    font-size: 3.5rem;
}
.bg__text--small {
    font-size: 1.25rem;
}
.icon__list {
    display: flex;    
    gap: 1rem;
}
.icon__item {
    width: 30px;
    height: 30px;
    border-radius: 1rem;
}
.icon__item > i {
    font-size: 1.5rem;
    color: #ddd;
    transition: .2s;
}
.icon__item > i:hover {
    color: #fff;
}

.github {
    background-image: url('../images/github.png');
}
.insta {
    background-image: url('../images/instagram.png');
}
.bg--black {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    left: 0;
}
.hashtag__list {
    position: absolute;
    top: 0px;
    left: 0;
}
.hashtag__item {
    width: max-content;
    font-size: 7rem;
    color: #fff;
    opacity: .3;
    font-weight: 700;
    transform: translate(120px);
    z-index: 1;
    position: absolute;
    cursor: default;
    user-select: none;
}
.hashtag__item:hover {
    opacity: 1;
}