.timeout {
    position: absolute;
    font-size: 4rem;
    z-index: 1;
    left: 57%;
    top: 43%;
}
.reward {
    background-image: url('../images/reward.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    width: 48%;
    position: relative;
    top: 32%;
    display: flex;
    justify-content: space-between;
}
.buttons > img {
    width: 45%;
    height: 100%;
}
.timeout-list {
    width: 20%;
    position: absolute;
    z-index: 3;
    left: 22%;
    top: 34%;
    text-align: right;
}
.timeout-item {
    padding: 6.7%;
    font-size: 1.5rem;
    color: #6b1b00;
}